<!-- views/index.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Sistema de Upload de Imagens</h1>
    <a href="/upload">Upload de Imagem</a>
    <!-- Lista de imagens -->
    {{#if imagePath}}
        <img src="{{imagePath}}" alt="Imagem Enviada">
    {{else}}
        <p>Nenhuma imagem enviada ainda.</p>
    {{/if}}
</body>
</html>
